<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>abc</servlet-name>
    <servlet-class>askhsh2.PostgressConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>abc</servlet-name>
    <url-pattern>/checkconnect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cl</servlet-name>
    <servlet-class>askhsh2.Addclient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cl</servlet-name>
    <url-pattern>/addclient</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>otinanai</servlet-name>
    <servlet-class>askhsh2.CreateProgram</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>otinanai</servlet-name>
    <url-pattern>/createprogram</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>otinanai2</servlet-name>
    <servlet-class>askhsh2.SignUpAsAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>otinanai2</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addslr</servlet-name>
    <servlet-class>askhsh2.AddSeller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addslr</servlet-name>
    <url-pattern>/addseller</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>askhsh2.login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/logintopage</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>askhsh2.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logoutofpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>searchclient1</servlet-name>
    <servlet-class>askhsh2.SearchClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchclient1</servlet-name>
    <url-pattern>/searchclient</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteclient1</servlet-name>
    <servlet-class>askhsh2.DeleteClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteclient1</servlet-name>
    <url-pattern>/dltclient</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteseller</servlet-name>
    <servlet-class>askhsh2.DeleteSeller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteseller</servlet-name>
    <url-pattern>/dltseller</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteprogram</servlet-name>
    <servlet-class>askhsh2.DeleteProgram</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteprogram</servlet-name>
    <url-pattern>/dltprogram</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>searchslr</servlet-name>
    <servlet-class>askhsh2.SearchSeller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchslr</servlet-name>
    <url-pattern>/searchseller</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>searchprg</servlet-name>
    <servlet-class>askhsh2.SearchProgram</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchprg</servlet-name>
    <url-pattern>/searchprogram</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>update</servlet-name>
    <servlet-class>askhsh2.update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update</servlet-name>
    <url-pattern>/updatedata</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>debt</servlet-name>
    <servlet-class>askhsh2.SetDebt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>debt</servlet-name>
    <url-pattern>/setdebt</url-pattern>
  </servlet-mapping>
    <servlet>
      <servlet-name>changeprogram</servlet-name>
    <servlet-class>askhsh2.ChangeClientProgram</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeprogram</servlet-name>
    <url-pattern>/changeprogram</url-pattern>
  </servlet-mapping>
      <servlet>
      <servlet-name>pay</servlet-name>
    <servlet-class>askhsh2.Pay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pay</servlet-name>
    <url-pattern>/pay</url-pattern>
  </servlet-mapping>
   <servlet>
      <servlet-name>showcalls</servlet-name>
    <servlet-class>askhsh2.ShowCalls</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showcalls</servlet-name>
    <url-pattern>/showcalls</url-pattern>
  </servlet-mapping>
   <servlet>
      <servlet-name>updateprogram</servlet-name>
    <servlet-class>askhsh2.UpdateProgram</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateprogram</servlet-name>
    <url-pattern>/updateprogram</url-pattern>
  </servlet-mapping>
</web-app>